h1 {

  /*padding-espaço dentro da "caixa"*/

  padding-top: 20px;
  /*cima*/
  padding-right: 90px
    /*Direita*/
    padding-bottom: 20px;
  /*inferior*/
  padding-left: 700px;
  /*Esquerda*/



  /*Shorthand
    padding:50px; (4 lados)
  
    padding:50px 60px 70px 30 px;(4 lados diferentes)
  
    padding: 50px 30px:(e/b e/d)
    */
  /*padding:50px 30px 50px 30px*/
  x border-color: red;
  border: width 3px;
  px;
  border-style: solid;
  /*solid,dotted,dashed,double*/

  /*shorthand
  border: width style color;
    */
  border: 2 px dotted red;
  border-radius: 40%;
  /*arrendondamento das vertices*/
}

p {
  border: 20px solid pink;
  background-color: pink;
  padding: 10px
    /*espeçi entre elementos*/
    margin-top:20px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 30px;
}